.hidden {
  display: none;
}
* {
  @import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Cormorant+SC:wght@700&display=swap");
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Black Han Sans", sans-serif;
  letter-spacing: 0.1em;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}
#weather {
  position: absolute;
  right: 4em;
  top: 3em;
}
#clock {
  position: absolute;
  right: 2em;
  top: 0.5em;
}

#login-form {
  margin: 10px;
}
#login-form :first-child {
  display: inline-block;
  width: 15em;
}

#todo-form {
  margin: 10px;
}
#todo-form :first-child {
  display: inline-block;
  width: 21em;
}

#quote {
  text-align: center;
  font-size: 1.5em;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff;
}

#clock:hover {
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff;
}
#weather:hover {
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff;
}
#todo-list:hover {
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff;
}
